.Footer_all {
  align-items: center;
  background-color: #f3a43d;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 61px;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 360px;
}
