.email-box , .password-box {
  border-bottom: 2px solid white;
}

.email-box input , .password-box input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 20px;
  height: 40px;
  text-align: center;
  width: 280px;
}

.email-box input::placeholder , .password-box input::placeholder {
  color: white;
  font-size: 20px;
  text-align: center;
}

.email-box input:focus , .password-box input:focus {
  border: none;
  outline: none;
}

.login-btn {
  background-color: #f23a3a;
  border: 1px solid #f23a3a;
  color: white;
  font-size: 20px;
  height: 40px;
  margin: 20px auto;
  width: 290px;
}
